* {
  box-sizing: border-box;
}

.root {
  height: 100vh;
  padding: 55px 83px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
  font-family: 'Poppins', sans-serif;
  color: rgba(0, 0, 0, 0.8);
}